<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0309928 0.04142 0.0102657" rpy="0.0192849 0.00432283 -0.0196097" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0309928 0.04142 0.0102657   0.00962063 0.00225575 -0.00978338 0.999903 tool0 camera_color_optical_frame" />
</launch>
